body{
    background-color: lightblue;
}
h1{
    background-color: white;
}
p{
    border: 2px solid black;
}
div{
    background-color: blue;
    
}
a{
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  #container #second{
    position: relative;left: 50px; top: 6px;
  }
  #wrapper {
    border: 1px solid blue;
}
#div1 {
  
    display: inline-block;
    width:160px;
    height:160px;
    border: 3px solid red;
  
     
}
p { border: 2px solid black; width: 250px;padding-bottom: 5%; }
img { border: 2px solid black; width: 200px; height: 200px;display: block;
  margin-left: auto;
  margin-right: auto;
margin-top: 10px;}
#prva {
  
  display: inline-block;
  
 
}
#druga {
 
  display: inline-block;
  
 
}
#treca{
  display: inline-block;
}
#pomeraj{
  border: 0px;
  padding-bottom: 0%;
  margin-left: auto;
}
#fileri{
  border: 0px;
  padding-bottom: 0%;
  padding-top: 0px;
  margin-left: auto;
  margin-top: 0px;
}
