html {
  height:100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fileri{
  padding-top: 0%;
  float:right;
  margin-right:30px;

}
#search-container{
  float: left;
  margin-left:30px;
  
}


.container{

display: inline-flex;
margin-left: 5%;
column-gap: 15px;
 
}
#btn1{
  width: 300px;
  height: 50px;
  background-color: pink;
  
}
#btn2{
  width: 300px;
  height: 50px;
  background-color: pink;
  
}
#btn3{
  width: 300px;
  height: 50px;
  background-color: pink;
  
}
#logo1{
  border: 5px solid pink;
padding-bottom: 0px;
}

#logo2{
  border: 5px solid pink;
  padding-bottom: 0px;
}

#logo3{
  border: 5px solid pink;
  padding-bottom: 0px;
}

.pocetna{
  float: left;
  margin-left: 5px;
}
body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}



a{
    color: white;
}
.topnav {
  width: 100%;
  height: 50px;
  
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  }
  
  .topnav a {
    float: left;
    display: block;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }
  
  .topnav a:hover {
    background-color: #00C2BA;
    
  }
  
 
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background:#FFC658;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #FFB4FF;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  #container #second{
    position: relative;left: 50px; top: 6px;
  }
  #wrapper {
    border: 1px solid #FFC658;
}
